pipeline/Append variable.json
{
	"name": "Append variable",
	"properties": {
		"activities": [
			{
				"name": "Append variable",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": {
						"value": "@int(pipeline().parameters.givemevalue)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"givemevalue": {
				"type": "string"
			}
		},
		"variables": {
			"marks": {
				"type": "Array",
				"defaultValue": [
					20,
					30,
					44,
					78
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Control Flow Activities"
		},
		"annotations": []
	}
}