pipeline/Area Calculation.json
{
	"name": "Area Calculation",
	"properties": {
		"activities": [
			{
				"name": "Length variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Lenght",
					"value": {
						"value": "@pipeline().parameters.givemelenth",
						"type": "Expression"
					}
				}
			},
			{
				"name": "breadth variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": {
						"value": "@pipeline().parameters.givemebreadth",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Area variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Length variable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "breadth variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@mul(variables('Lenght'), variables('Breadth'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"givemelenth": {
				"type": "int"
			},
			"givemebreadth": {
				"type": "int"
			}
		},
		"variables": {
			"Lenght": {
				"type": "Integer"
			},
			"Breadth": {
				"type": "Integer"
			},
			"Area": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Control Flow Activities"
		},
		"annotations": []
	}
}